<mat-card style="width: 100%;">
    <mat-card-content class="profile-panel">
        <a [routerLink]="user?.userProfileURL">
            <img [src]="user?.profilePic" mat-card-lg-image class="profile-panel-image"/>
        </a>
        <div class="profile-panel-name">
            <span class="mat-headline-4">{{user?.firstName}} {{user?.lastName}}</span>
            <span class="mat-body">{{user?.nFriends}} приятели</span>
        </div>
        <button 
            *ngIf="isCurrentUser" mat-raised-button 
            color="primary" class="profile-panel-edit"
            (click)="onEdit()">
            <mat-icon>edit</mat-icon>Редактиране на профила
        </button>
    </mat-card-content>
</mat-card>