.container {
    margin-top: 50px; 
    margin-left: auto; 
    margin-right: auto;

    width: 1280px; 
    
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    gap: 30px; 
}

.profile-panel-wrapper {
    width: 100%;
}

.posts-header {
    padding-bottom: 16px;
}