<mat-toolbar color="primary">
  <span style="margin-right: auto;">Social App</span>
  <span>
    <button *ngIf="isLoggedIn()" mat-button [routerLink]="['/users', username()]">My Profile</button>
    <button *ngIf="isLoggedIn()" mat-button (click)="logout()">Logout</button>
    <button *ngIf="!isLoggedIn()" mat-button [routerLink]="'/login'">Login</button>
    <button *ngIf="!isLoggedIn()" mat-button [routerLink]="'/register'">Register</button>
  </span>
</mat-toolbar>

<section style="margin-top: 80px;">
  <router-outlet/>
</section>
